<h1><%= "#{@album.band.name} - #{@album.title}" %></h1>
<% @album.tracks.each do |track| %>
  <a href="<%= track_url(track) %>"><%= track.title %></a><br>
  <%#= track.lyrics %>
<% end %>
<br>
<a href="<%= new_album_track_url(@album) %>">Add new track</a>
<br>
<a href="<%= edit_album_url(@album) %>">Edit album</a>
<br>
<a href="<%= band_url(@album.band) %>">Back to band</a>
<br><br><br>
<form id="form_id" action="<%= album_url(@album) %>" method="post">
  <%= auth_token_input %>
  <%= method_input("delete") %>
  <input type="submit" value="Delete Album">
</form>
